.boxContainer {
    width: 960px;
    height:960px;
    display: flex;
    border-style:solid;
    border-color: red;
}

body, html {height:100%;}

body{
    display:flex;
    flex-direction:column;
    align-items:center;
}

button {
    width: 200px;
    margin:30px;
}